@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";

.row {
  border-bottom: 1px solid $colorBorder;
  @include flex(row, start, center, 0);
  flex-wrap: nowrap;
  @include font(14px, 400px, 130%);
  @include tableFont();
  height: 60px;

  .cell {
    @include flex(row, start, center, 0);
    gap: 10px;
    padding: 21px 12px;
    width: 200px;

    &:nth-child(1) {
      width: 110px;
      height: 60px;
      max-width: 200px;
      position: relative;
    }

    &:nth-child(2) {
      width: calc(100vw - 241px - 13px - 910px);
      min-width: 120px;
      max-width: 757px;
    }
  }

  .child2 {
    transform: translateX(26px);
  }

  .child3 {
    transform: translateX(52px);
  }

  .child4 {

    transform: translateX(78px);
  }

  .child5 {
    transform: translateX(104px);
  }
}