@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";

.container {
  @include size(100%, 88px);
  position: relative;
  z-index: 2;

  .topMenu {
    border-bottom: 1px solid $colorBorder;
    padding: 10px 20px;
    @include flex(row, flex-start, center, 0);

    .btn {
      margin-right: 20px;
    }

    .link {
      display: inline-block;
      width: 72px;
      text-align: center;
      vertical-align: baseline;
      margin: 0 19px 0 10px;
      position: relative;
    }

    .active {
      &::before {
        content: ' ';
        @include size(100%, 15px);
        @include position(absolute, 100%, 0);
        z-index: 2;
        border-bottom: 2px solid $colorFontMain;
      }
    }
  }

  .lowerMenu {
    border-bottom: 1px solid $colorBorder;
    @include flex(row, flex-start, center, 0);

    .projectNamesBlock {
      color: $colorFontGrey;
      @include size(240px, 44px);
      padding: 8px 20px;
      border-right: 1px solid $colorBorder;
      position: relative;
      vertical-align: bottom;

      .subText {
        font-size: 10px;
        vertical-align: top;
      }

      .buttonOpen {
        @include size(24px, 24px);
        @include position(absolute, 10px, calc(100% - 28px));
      }
    }

    .projectName {
      font-size: 18px;
      padding: 11px 15px 12px;
      border-right: 1px solid $colorBorder;
    }
  }
}