$colorBgc: #202124;
$colorBgc2: #27272A;
$colorBgcLight: rgba(39,39,42,1);
$colorBgc3: #414144;
$colorAccent: rgba(161,161,170,1);
$colorAccent2: rgba(120,144,178,1);

$colorFont: rgba(255,255,255,1);
$colorFontMain: #FFF;
$colorFontGrey: #A1A1AA;
$colorFont3: #71717A;

$colorDecoration: rgba(198,198,198,1);
$colorBorder:rgba(65,65,68,1);

$colorRed: rgba(223,68,68,1);
$fontFamily: 'Roboto',  sans-serif;
